<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://npmcdn.com/moralis@latest/dist/moralis.js"></script>
    <link rel="stylesheet" href="/styles.css">
    

    <title>MY-NFTS</title>
  </head>
  <body>
    <nav>
      <h1><a href="/">ABCD NFT</a></h1>
      <ul>
        <li>Welcome, Mate</li>
        <li><a href="/logout">Log out</a></li>

        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
      </ul>
    </nav>
  </body>
</html>
