<div class="a-box">
  <div class="img-container">
    <div class="img-inner">
      <div class="inner-skew">
        <img
          src="https://ipfs.io/ipfs/bafkreihe57qsakjef4a2w6siwhj2xoaog3zevib7k5vwve6g3bijsrilni"
        />
      </div>
    </div>
  </div>
  <div class="text-container">
    <h3>A blue bird</h3>
    <div>This a demo experiment to skew image container. It looks good.</div>
  </div>
</div>
