<%- include('partials/header') -%>

    
  <title>ABCDNFT</title>
  </head>

  <style>
    body{
      max-width: 60%;
      margin: 0 auto;
    }
  </style>


<body>
    <h1 class="error"> <%= message %></h1>
    
    <h1>Home</h1>


    <hr />
    <h2>Upload your layers</h2>

    <form action="/upload-layers" method="post" enctype="multipart/form-data">
      <input name="images" type="file" multiple />
      <button class="btn" type="submit">Upload</button>
    </form>

    <hr />
    <h2>Generate your art collection</h2>

    <form action="/generate" method="post">
      <label>enter the number of images you want to generate</label>
      <input name="editionSize" placeholder="eg: 10" />
      <button type="submit">generate</button>
    </form>

    <hr />
    <h2>Upload to IPFS</h2>
    <form action="/upload-to-ipfs" method="post">
      <button id="uploadToIPFS" type="submit">Upload your art to IPFS</button>
     
      <div id="load-root"></div>
   
      
    </form>
  </body>

  <script>
    console.log("home is running....");
    const btn =  document.querySelector("#uploadToIPFS")
    btn.addEventListener("click",()=>{
      console.log("BTN CLICKED");
      btn.style.display="none";
      document.querySelector("#load-root").innerHTML = `<div class="loader"></div>`
    })
  </script>
  <%- include('partials/footer') -%>
</html>


